<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: head">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <!-- top navigation -->
        <div th:replace="admin/fragments/header :: top-menu"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">

        </div>
        <!-- /page content -->
    </div>


    <!-- footer content -->
    <footer th:replace="admin/fragments/footer :: footer"></footer>
    <!-- /footer content -->
</div>

<div th:replace="admin/fragments/footer :: footer-scripts"></div>

</body>
</html>