<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: head">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- main menu -->
        <div th:replace="admin/fragments/header :: main-menu"></div>
        <!-- /main menu -->

        <!-- top navigation -->
        <div th:replace="admin/fragments/header :: top-menu"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">

            <div class="title_left">
                <h3 th:text="${page.title}"></h3>
            </div>

            <!-- add new pagetext -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Přidat nový obsah
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br/>
                            <form th:action="@{/admin/page}" th:object="${pageTextForm}" method="post" class="form-horizontal form-label-left">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Unikátní identifikátor
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input th:field="*{identity}" ype="text" required="required"
                                               class="form-control col-md-7 col-xs-12"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Obsah
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <textarea th:field="*{content}" required="required"
                                               class="form-control col-md-7 col-xs-12"/>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>

                                <input type="hidden" th:field="*{pageId}"/>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <input type="submit" class="btn btn-success" value="Uložit"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /add new pagetext -->

            <!-- edit pagetexts-->
            <div class="row" th:each="pageTextEdit, stat : ${page.pageTexts}">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Identifikátor: <span th:text="${pageTextEdit.identity}"></span>
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br/>
                            <form th:action="@{/admin/page/editPageText}" method="post" id="demo-form2"
                                  data-parsley-validate="" class="form-horizontal form-label-left"
                                  novalidate="">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Obsah
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <textarea th:text="${pageTextEdit.content}" name="content" required="required"
                                               class="form-control col-md-7 col-xs-12">
                                        </textarea>

                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-success">Uložit</button>
                                    </div>
                                </div>

                                <input name="identity" type="hidden" th:value="${pageTextEdit.identity}"/>
                                <input name="pageId" type="hidden" th:value="*{page.id}"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /edit pagetexts-->

        </div>
        <!-- /page content -->
    </div>


    <!-- footer content -->
    <footer th:replace="admin/fragments/footer :: footer"></footer>
    <!-- /footer content -->
</div>

<div th:replace="admin/fragments/footer :: footer-scripts"></div>

</body>
</html>