<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="front/fragments/header :: head">
</head>

<body>

<!-- main menu -->
<div th:replace="front/fragments/header :: main-menu"></div>
<!-- /main menu -->

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">Objednávka</h1>

            <form th:action="@{/order/send}" th:object="${orderForm}" method="post">

                <input name="companyName" type="text"/> <br/>
                <input name="address" type="text"/> <br/>
                <input name="contactPerson" type="text"/> <br/>
                <input name="email" type="text"/> <br/>
                <input name="phone" type="text"/> <br/>
                <input name="ico" type="text"/> <br/>
                <input name="dic" type="text"/> <br/>
                <input name="subject" type="text"/> <br/>
                <input name="deliveryDate" type="text"/> <br/>

                <input type="submit" value="Odeslat"/>
            </form>
        </div>
    </div>
</div>

</body>
</html>