<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Objednávka</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Objednávka</h1>

<form th:action="@{/order/send}" th:object="${orderForm}" method="post">
    <input name="companyName" type="text"/> <br/>
    <input name="address" type="text"/> <br/>
    <input name="contactPerson" type="text"/> <br/>
    <input name="email" type="text"/> <br/>
    <input name="phone" type="text"/> <br/>
    <input name="ico" type="text"/> <br/>
    <input name="dic" type="text"/> <br/>
    <input name="subject" type="text"/> <br/>
    <input name="deliveryDate" type="text"/> <br/>

    <input type="submit" value="Odeslat"/>
</form>

</body>
</html>