<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="front/fragments/header :: head">
</head>

<body>

<!-- main menu -->
<div th:replace="front/fragments/header :: main-menu"></div>
<!-- /main menu -->

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">Products</h1>

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Product name</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.title}"></td>
                    <td th:text="${product.price}"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

</body>
</html>