<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{front/fragments/header :: head}">
</head>

<body>

<!-- main menu -->
<div th:replace="~{front/fragments/header :: main-menu}"></div>
<!-- /main menu -->

<section class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col items-center text-center">
        <h1 class="mt-20 text-4xl font-bold">Products</h1>

        <div class="overflow-x-auto w-full mt-8">
            <table class="min-w-full divide-y divide-gray-200 shadow-md rounded-lg">
                <thead class="bg-gray-800 text-white">
                <tr>
                    <th class="px-6 py-3 text-left text-sm font-semibold uppercase tracking-wider">Product name</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold uppercase tracking-wider">Price</th>
                </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                <tr th:each="product : ${products}">
                    <td class="px-6 py-4 whitespace-nowrap" th:text="${product.title}"></td>
                    <td class="px-6 py-4 whitespace-nowrap" th:text="${product.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

</body>
</html>