<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer">
    <div class="pull-right">
        Version: <span th:text="${version}"></span>
    </div>
    <div class="clearfix"></div>
</footer>

<div th:fragment="footer-scripts">

    <!-- jQuery -->
    <script th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Custom Theme Scripts -->
    <script src="/admin/js/custom.min.js"></script>
</div>

</html>